body {
	padding-top: 4.2rem;
	padding-bottom: 4.2rem;
	background: rgba(0, 0, 0, 0.76);
}

a {
	text-decoration: none !important;
}

h1,
h2,
h3 {
	font-family: 'Kaushan Script', cursive;
}

.myform {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	padding: 1rem;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 1.1rem;
	outline: 0;
	max-width: 500px;
}

.tx-tfm {
	text-transform: uppercase;
}

.mybtn {
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding: 0.5rem 4rem;
    background-color: #a00000;}   
    .mybtn:hover {
        background-color: #880000;
		-webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5); 
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);}

.login-or {
	position: relative;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}

.hr-or {
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.google {
	color: #666;
	width: 100%;
	height: 40px;
	text-align: center;
	outline: none;
	border: 1px solid lightgrey;
}

form .error {
	color: #ff0000;
}

#second {
	display: none;
}



/* FORM LOGIN */
#first > div > form > div > .form-control:focus { color: #495057; background-color: #fff; border: none; outline: 0; -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5); box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);}
#first > div > form > div:nth-child(2) > input {width: 78%;}
#first > div > form > div:nth-child(2) > button {width: 20%}
#first > div > form > div:nth-child(2) > button > i:hover{cursor: pointer; color: #000;}
#first > div > form > div:nth-child(2) > button > i:active{color: #000;}

/* FORM CADASTRO */
#modalCadastro > div > div > div.modal-body > form > div > div > div> .form-control:focus {color: #495057; background-color: #fff; border: none; outline: 0; -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5); box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);}
#senha {width: 78%}
#confirmar-senha {width: 78%}
#modalCadastro > div > div > div.modal-body > form > div:nth-child(4) > div:nth-child(2) > div > button {width: 20%}
#modalCadastro > div > div > div.modal-body > form > div:nth-child(4) > div:nth-child(1) > div > button {width: 20%}
#modalCadastro > div > div > div.modal-body > form > div > div > div > button > i:hover{cursor: pointer; color: #000;}

#first > div > div > div > a > img {max-width: 100%}