RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^sub-categoria-de-(.*)$ sub-categorias.php?nome=$1 [L]
RewriteRule ^produtos-(.*)$ lista-produtos.php?nome=$1 [L]
RewriteRule ^produto-(.*)$ produto.php?nome=$1 [L]
RewriteRule ^combo-(.*)$ combo.php?nome=$1 [L]
RewriteRule ^postagem-(.*)$ blog-postagem.php?nome=$1 [L]

AddHandler application/x-httpd-ea-php71 .phtml

